/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
/*Open Sans/ font-family: 'Open Sans', sans-serif;*/

@font-face {
	font-family: "Helvetica Normal";
	src: url("../fonts/helvetica-normal/helvetica-normal.eot") format('eot'),
		 url("../fonts/helvetica-normal/helvetica-normal.ttf") format('ttf'),
		 url("../fonts/helvetica-normal/helvetica-normal.woff") format('woff');
}

@font-face {
	font-family: "Helvetica Bold";
	src: url("../fonts/helvetica-bold/helvetica-neue-bold.eot") format('eot'),
		 url("../fonts/helvetica-bold/helvetica-neue-bold.ttf") format('ttf'),
		 url("../fonts/helvetica-bold/helvetica-neue-bold.woff") format('woff');
}

@font-face {
	font-family: "Helvetica Light";
	src: url("../fonts/helvetica-light/HelveticaNeue-Light.eot") format('eot'),
		 url("../fonts/helvetica-light/HelveticaNeue-Light.ttf") format('ttf'),
		 url("../fonts/helvetica-light/HelveticaNeue-Light.woff") format('woff');
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/open-sans/OpenSans-Regular.eot") format('eot'),
		 url("../fonts/open-sans/OpenSans-Regular.ttf") format('ttf'),
		 url("../fonts/open-sans/OpenSans-Regular.woff") format('woff');
}